h1{
    font-size:50px;
    text-align:center;
    color:greenyellow;

}
body{
    background-color:blueviolet;
}
li{
    font-size:35px;
    color:bisque

}
b{
    color:rgb(255, 134, 47);
}